* {
  font-family: monospace;
  font-size: 20px;
  background-color: rgb(7, 7, 7);
  color: rgb(1, 184, 1);
}
.form {
  margin: 20px;
  height: 100vh;
  width: 400px;
  input {
    margin-top: 10px;
    padding: 5px;
    border: 0;
  }
  .input__email {
    width: 400px;
  }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -5px;
    left: -1px;
    position: relative;
    background-color: rgb(25, 165, 6);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(0, 0, 0);
  }
  input[type='checkbox'] {
    accent-color: rgb(10, 51, 4);
  }
  button {
    margin-top: 10px;
    cursor: pointer;
  }
  .select__gender {
    color: rgb(116, 115, 115);
    margin-right: 5px;
  }
  .radio__gender {
    margin-right: 5px;
  }
  .checkbox__terms {
    margin-top: 2px;
    margin-right: 7px;
  }
  div {
    margin-top: 20px;
  }
  .cont__check {
    display: flex;
  }
  .button__register {
    border: 0;
  }
  .button__register:hover {
    text-decoration: underline;
  }
}
.typewriter h1 {
  color: rgb(25, 165, 6);
  font-family: monospace;
  width: auto;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  // border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.span__view,
.span__view__email {
  text-transform: uppercase;
  -webkit-text-stroke: rgb(57, 238, 12);
  -webkit-text-stroke-width: 1px;
  text-shadow: 2px 2px 10px rgb(25, 165, 6);
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.2em;
  animation: flicker 0.5s ease-in-out infinite alternate;
}

.span__view {
  font-size: 30px;
}

.span__what {
  font-size: 25px;
  text-shadow: 2px 2px 10px rgb(25, 165, 6);
  margin-left: 20px;
}

.span__view__email {
  font-size: 20px;
}

@keyframes flicker {
  0% {
    opacity: 0.5;
    text-shadow: 2px 2px 10px rgb(25, 165, 6);
  }
  100% {
    opacity: 1;
    text-shadow: 2px 2px 20px rgb(25, 165, 6);
  }
}

.block__logged {
  display: flex;
  flex-direction: column;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  opacity: 0.2;
  margin: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 7px 10px 22px 0px rgb(25, 165, 6);
  -moz-box-shadow: 7px 10px 22px 0px rgb(25, 165, 6);
  box-shadow: 7px 10px 22px 0px rgb(25, 165, 6);
  animation: flicker 0.5s ease-in-out infinite alternate;
}
